body{
    background-image: url(../images/RE4wB7p.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
body ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
a, a:hover{
    text-decoration: none;
    transition: .6s;
}
a:hover{
    color: rgb(97, 112, 243) !important;
    transition: .6s;
}
.material-icons:hover, .fa-cog:hover{
    color: rgb(97, 112, 243) !important;
    transition: .6s;
}
/* hearder */
header{
    width: 95%;
    margin: 0 auto;
}
header .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .content .content-left ul{
    display: flex;
    align-items: center;
}
header .content .content-left ul li{
    padding-right: 15px;
}
header .content .content-left ul i{
    font-size: 30px;
    color: #fff;
}
header .content .content-left ul li:last-child a{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}
header .content .content-left ul svg{
    width: 30px;
}
header .content .content-left .temperature:hover .Fahrenheit{
    opacity: 1;
    visibility: visible;
    transition: .6s;
}
header .content .content-left .Fahrenheit{
    opacity: 0;
    visibility: hidden;
    transition: .6s;
}
header .content .content-right i{
    font-size: 30px;
    color: #fff;
}
/* main */
main .content .search{
    width: 45%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .content .search input{
    width: 88%;
    height: 35px;
    position: relative;
    border: 1px solid rgb(238, 238, 238);
    border-right: none;
    border-radius: 3px 0 0 3px;
    padding-left: 5px;
    outline: none;
}
main .content .search button{
    padding: 5px 10px;
    background: #fff;
    border: 1px solid rgb(238, 238, 238);
    border-left: none;
    border-radius: 0px 3px 3px 0px;
    outline: none;
    cursor: pointer;
    border-top: none;
}
main .content .search button svg:first-child{
    margin-right: 10px;
}
main .content .keyword {
    width: 45%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 5px;
}
main .content .keyword ul{
    display: flex;
    align-items: center;
}
main .content .keyword ul li{
    padding-right: 15px;
}
main .content .keyword a{
    font-size: 12px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 120px;
    display: block;

}
/* footer */
footer .content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 15%);

}
footer .content img{
    width: 100%;
}
footer .content .block{
    margin: 0 10px;
    transition: .6s;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer .content .block:hover{
    background: rgba(253, 253, 253, 0.164);
    transition: .6s;
}
footer .content .block:hover .readmore{
    opacity: 1;
}
footer .content .blockimage{
    background: #fff;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    align-items: center;
}
footer .block .title{
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 60px;
    min-width: 60px;
    display: block;
    text-align: center;
}
footer .block .readmore{
    position: absolute;
    top: 5px;
    right: 3px;
    font-size: 13px;
    padding: 0px 3px;
    opacity: 0;
    border-radius: 2px;
}
footer .block .readmore i{
    color: #fff;
}
.blockreamore{
    background: #fff;
    padding: 5px 50px 5px 15px;
    border-radius: 5px;
}
.blockreamore ul{
    position: relative;
    width: 100%;
    white-space: nowrap;
    z-index: 999999;
}
.moreclick{
    position: absolute;
    left: -5px;
    opacity: 0;
    z-index: 99999;
}
footer .block .addnew{
    font-size: 46px;
    font-weight: 200;
    color: rgb(190, 190, 190);
}
.blockreamore ul a{
    font-size: 16px;
    color: #000;
}
footer .block .readmore:hover .moreclicknew{
    opacity: 1;
}
footer .block .readmore:hover{
    background:rgba(197, 192, 192, 0.315);
}

footer .note{
    display: flex;
    color: rgb(212, 212, 212);
    margin-right: 35px;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
}
footer .icon{
    width: 25px;
    padding-right: 10px;
}
footer.note p {
    font-size: 13px;
}
.blockreamore i{
    padding-right: 10px;
}