.error{
    color: red;
    display: none;
}
.form-group{
    margin-bottom: 0;
}
img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    box-shadow: rgb(145 140 140 / 91%) 0px 5px 10px;
    margin-bottom: 20px;
}
.tickgender{
    display: flex;
    align-items: center;
}
.tickgender .form-check{
    margin: 0 20px 20px 0;
}
.tickgender .form-check .form-check-label{
    cursor: pointer;
}
.closeimage{
    font-size: 30px;
    color: red;
    position: absolute;
    top: 0;
    display: none;
    cursor: pointer;
}
    