@mixin default(){
    body {
        background-image: url(../images/RE4wB7p.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        ul {
            padding: 0;
            margin: 0;
            li {
                padding: 0;
                margin: 0;
                list-style: none;
            }
        }
    }
    a{
        text-decoration: none;
        transition: 0.6s;
        &:hover {
            text-decoration: none;
            transition: 0.6s;
            color: rgb(97, 112, 243) !important;
        }
    }
    .material-icons:hover,
    .fa-cog:hover {
        color: rgb(97, 112, 243) !important;
        transition: 0.6s;
    }
    .blockreamore {
        background: #fff;
        padding: 5px 50px 5px 15px;
        border-radius: 5px;
        ul {
            position: relative;
            width: 100%;
            white-space: nowrap;
            z-index: 999999;
            a {
                font-size: 16px;
                color: #000;
            }
        }
        i {
            padding-right: 10px;
        }
    }
    .moreclick {
        position: absolute;
        left: -5px;
        opacity: 0;
        z-index: 99999;
    }    
}
