@import "mixin";
@include default();
// header
header {
    width: 95%;
    margin: 0 auto;
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .content-left {
            ul {
                display: flex;
                align-items: center;
                li {
                    padding-right: 15px;
                    &:last-child {
                        a {
                            font-size: 30px;
                            font-weight: 500;
                            color: #fff;
                        }
                    }
                }
                i {
                    font-size: 30px;
                    color: #fff;
                }
                svg{
                    width: 30px;
                }
            }
            .temperature{
                &:hover{
                    .Fahrenheit{
                        opacity: 1;
                        visibility: visible;
                        transition: .6s;
                    }
                }
            }
            .Fahrenheit{
                opacity: 0;
                visibility: hidden;
                transition: .6s;
            }
        }
        .content-right{
            i{
                font-size: 30px;
                color: #fff;
            }
        }
    }
}
// main
main{
    .content{
        .search{
            width: 45%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            input{
                width: 88%;
                height: 35px;
                position: relative;
                border: 1px solid rgb(238, 238, 238);
                border-right: none;
                border-radius: 3px 0 0 3px;
                padding-left: 5px;
                outline: none;
            }
            button{
                padding: 5px 10px;
                background: #fff;
                border: 1px solid rgb(238, 238, 238);
                border-left: none;
                border-radius: 0px 3px 3px 0px;
                outline: none;
                cursor: pointer;
                border-top: none;
                svg{
                    &:first-child{
                        margin-right: 10px;
                    }
                }
            }
        }
        .keyword {
            width: 45%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            padding-top: 5px;
            ul{
                display: flex;
                align-items: center;
                li{
                    padding-right: 15px;
                }
            }
            a{
                font-size: 12px;
                color: #fff;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 120px;
                display: block;
            
            }
        }
    }
}
// footer
footer{
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translate(-50%, 15%);
        img{
            width: 100%;
        }
        .block{
            margin: 0 10px;
            transition: .6s;
            padding: 5px 20px;
            border-radius: 5px;
            cursor: pointer;
            position: relative;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &:hover{
                background: rgba(253, 253, 253, 0.164);
                transition: .6s;
                .readmore{
                    opacity: 1;
                }
            }
            .title{
                color: #fff;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 60px;
                min-width: 60px;
                display: block;
                text-align: center;
            }
            .readmore{
                position: absolute;
                top: 5px;
                right: 3px;
                font-size: 13px;
                padding: 0px 3px;
                opacity: 0;
                border-radius: 2px;
                i{
                    color: #fff;
                }
                &:hover{
                    background:rgba(197, 192, 192, 0.315);
                    .moreclicknew{
                        opacity: 1;
                    }
                }
            }
            .addnew{
                font-size: 46px;
                font-weight: 200;
                color: rgb(190, 190, 190);
            }
        }
        .blockimage{
            background: #fff;
            padding: 12px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            width: 50px;
            height: 50px;
            align-items: center;
        }
    }
    .note{
        display: flex;
        color: rgb(212, 212, 212);
        margin-right: 35px;
        justify-content: flex-end;
        position: absolute;
        bottom: 0;
        right: 0;
        p {
            font-size: 13px;
        }
    }
    .icon{
        width: 25px;
        padding-right: 10px;
    }
}
